<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-category-modal">
            Add Category
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <!--        use ejs templating engine        -->
                <% for(var i = 0; i < categories.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= categories[i].name %></td>
                        <td>
                            <button type="button"
                                    id="btn-update"
                                    class="btn btn-warning btn-circle btn-sm"
                                    data-toggle="modal"
                                    data-target="#edit-category-modal"
                                    data-id="<%= categories[i]._id %>"
                                    data-name="<%= categories[i].name %>">
                                <i class="fas fa-edit center"></i>
                            </button>

                            <button type="button"
                                    id="btn-delete"
                                    class="btn btn-danger btn-circle btn-sm"
                                    data-toggle="modal"
                                    data-target="#delete-category-modal"
                                    data-id="<%= categories[i]._id %>"
                                    data-name="<%= categories[i].name %>">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
